<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        #bannana{
            height: 120px;
            width: 250px;
        }
    </style>

    
</head>
<body>
    <h1>Welcome to my first Flask site!</h1>
    <form method ="POST">
    <label for="name"> Enter your username</label>
    <input type="'text" 
    name="name"
    placeholder="what is your name?">
    <br>
    <input type="submit"
    value="Submit">
    </form>

<img id="bannana"src="https://png.pngtree.com/png-clipart/20241121/original/pngtree-fat-cat-png-image_17277837.png" alt="fat cat">


</body>
</html>